
body {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: rgba(0,0,0,0.9);
  height: 100vh;
  color: aliceblue;
  position: relative; }
  
p {
  padding-top: 30px;
  color:rgba(255, 255,255, 0.9);
  font-weight: 300; 
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  font-family: Poppins-Regular;
  font-size: 17px;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.Headname{
  color:white;
  font-size: 30px;
  margin-left: 80px;
  
}

.Startingmsg{
  color:rgba(141, 82, 29, 0.6);
  text-align: center;
  margin-top:12%;
  font-size: 60px;
}

.btn1{
  margin-left: 700px;
  border: none;
  background:none;
  font-size:25px;
}
button:hover {
  border-bottom: 3px solid white;
  border-left: 3px solid white;
    transition: all .3s ease;
 }

.Headname2{
  color:rgba(140,220,105,0.7);
  font-size: 25px;
  margin-left: 80px;
  font-weight: 1000;
}

.site-logo2{
  height:20px;
  width:10px; 
}

nav{
  margin-left: 250px;
  margin-top: 20px;
  width:100%;
}


nav ul li{
  padding-left: 40px;
  
}

.dropdown-item{
  padding-top:20px;
  border-bottom: 2px solid grey;
  
}

.navbar-brand{
  color:white;
}

.nav-link{
    color:white;
}

.well1{
  padding-top: 5%;
}



#slider {
  position: relative;
  width: 85%;
  margin-left: 8%;
  height: 400px;
  margin-top: 5%;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
}

#slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 10000%;
  padding: 0;
  transition: all 750ms ease;
  left: 0;
}
#slider ul li {
  position: relative;
  height: 100%;
  float: left;
}

#slider ul li img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}



#slider #prev, #slider #next {
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  transform: translateY(-50%);
  transition: all 150ms ease;
}


#slider #prev {
  left: 10px;
}
#slider #next {
  right: 10px;
}

#slider #prev:hover, #slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
}

nav{
    background:rgba(200,20,45,0.8);
}

#Focus{
  margin-top: 5%;
  text-align: center;
  font-weight: 900;
  color: whitesmoke;
}

.fcs{
  height:40%;
  width:100%;
  
}

.peoples{
  padding-right: 10%;
}

.nam{
  text-align: center;
  margin-bottom: 50px;
}

.image_personal{
  margin-left: 42%;
}

.cf{
  background-color:rgba(0,0,170,0.3);
}

.twt{
  margin-top: 80px;
  margin-left: 10%;
}

.twitter-timeline{
  float: left;
}

.ku{
  margin-top: 100px;
  margin-left: 100px;
}

.act{
  border-bottom: 2px solid white;
}

.rs{
  padding-left: 10%;
}

.twt{
  float: left;
  
}
.fb{
  float: left;

}

.vis{
  margin-top: 5%;
  margin-left: 1000px;
  width:30%;
  height: 50%;
  color: antiquewhite;
  background-color:white;
}

.news{
  color:black;

}

.item-list{
  color:chocolate;
}

.item-list a{
  font-size: 18px;
  color: brown;
}

/*rgba(243, 232, 232, 0.705)*/